{{> menu id="about"}}
<div>
  <img class="ui centered image" src="https://cdn.glitch.me/6d43959c-0b3b-4c1b-a6fb-e0220e771f91/Heart_Rate.jpg?v=1640259743308">
</div>

<div class="ui container">
<section class="ui center aligned middle aligned segment">
  <h3>
    Heart Monitor
  </h3>
  <p>
    A simple list of Heart rate Reports
  </p>
</section>
</div>
{{> footer }}