{{> menu id="dashboard"}}


<div>
  <img class="ui centered image" src="https://cdn.glitch.me/6d43959c-0b3b-4c1b-a6fb-e0220e771f91/Heart_Rate.jpg?v=1640259743308">
</div>
<section class="ui container">
<section class="ui segment">
  {{> listweek}}
  {{> addweek}}
</section>
</section>

{{> footer }}